.main-blog {
    display: flex;
    position: relative;
    width: 100%;
}

.blog {
    &-banner {
        width: 70%;
        height: 600px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    &-heading {
        padding: 40px;
        background: rgba( 255, 255, 255, 0.1 );
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 20px;
        position: absolute;
        top: 60%;
        right: 0;
        width: 40%;
    }

    &-detail {
        width: 30%;
        position: relative;
        left: 15px;
        top: 25px;
        p {
            color: $gray-3;
            margin-bottom: 20px;
        }
    }

    &-wrapp {
        .blog-img {
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            height: 360px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            margin-top: 80px;

            img {
                transition: .3s ease;
            }
        }

        &:hover {
            .blog-img {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.read {
    position: relative;
    top: 0;
    color: $gray-4;
    font-size: 22px;
    line-height: 36px;
    transition: .3s ease;
    display: flex;
    align-items: center;
    left: 20px;

    &:hover {
        color: $secondary;

        &::before {
            background: $secondary;
        }
    }

    &::before {
        width: 8px;
        height: 8px;
        background: $gray-4;
        content: '';
        position: absolute;
        left: -20px;
        transition: .3s ease;
        border-radius: 50%;
    }
}