.contact-btn {
    position: relative;
	appearance: none;
	background: $secondary;
    padding: 25px 95px;
    border-radius: 5px;
    color: $white;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 40px;
    overflow: hidden;
    cursor: pointer;

    span { 
        position: relative;
        pointer-events: none;
    }

    &::before {
		--size: 0;

		content: '';
		position: absolute;
		left: var(--x);
		top: var(--y);
		width: var(--size);
		height: var(--size);
		background: radial-gradient(circle closest-side, #4405f7, transparent);
		transform: translate(-50%, -50%);
		transition: width .2s ease, height .2s ease;
	}
	
	&:hover::before {
		--size: 400px;
	}
}

.explore {
    width: 60px;
    height: 60px;
    overflow: visible;
    padding: 12.5px 30px;
    border-radius: 30px;
    background: $primary;
    border: none;
    color: $white;
    font-size: 21px;
    line-height: 37px;
    white-space: nowrap;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        width: 28%;
    }

    &.btn-secondary {
        background: $secondary;
        text-align: center;

        &:hover {
            width: 180px;
        }
    }
}