.contact {
    &-detail {
        width: 50%;

        .title {
            padding: 80px 0 50px;
        }

        h3 {
            font-size: 62px;
            font-weight: 600;
            line-height: 75px;

            span {
                margin-left: 40px;
            }
        }

        .sub-title {
            width: 90%;
        }
    }

    &-info {
        display: flex;
        align-items: flex-start;
        padding: 30px 0;
        width: 60%;
    }

    font-size: 32px;
    line-height: 46px;
    font-weight: 300;
}

.icon {
    width: 40px;
    height: 40px;
    background: rgba($color: $secondary, $alpha: 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
}

.empty-space {
    width: 5%;
}

.form-area {
    width: 45%;
    background: $white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 30px;
}

.input {
    &-label {
        font-size: 18px;
        line-height: 22px;
        color: $gray-4;
        margin-bottom: 10px;
    }

    &-area {
        padding: 22px 20px;
        background: $gray-1;
        border-radius: 5px;
        color: $gray-4;
        font-size: 16px;
        line-height: 20px;
        border: none;
        margin-bottom: 25px;
        width: 100%;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: $gray-2;
        }
    }
}

.radio {

    &-input {
        padding: 21px 0;
        background: $gray-1;
        border-radius: 5px;
        display: flex;
        margin-bottom: 25px;
    }

    &-wrapp {
        position: relative;
        display: flex;
        align-items: center;

        &::after {
            content: '';
            width: 15px;
            height: 1px;
            position: absolute;
            left: 0;
            background: $gray-3;
            transform: rotate(90deg);
        }

        &:first-child {
            &::after {
                display: none;
            }
        }
    }

    &-image {
        padding: 0 16px 0px 28px;
        cursor: pointer;
        color: $gray-3;
        font-size: 16px;
        line-height: 20px;
        white-space: nowrap;

        &:hover {
            color: $dark;
        }
    }

    &-hidden {
        position: absolute;
        visibility: hidden;

        &:checked~.radio-image {
            color: $dark;
        }
    }
}

.submit-btn {
    background: $primary;
    padding: 16px 75px;
    border: none;
    border-radius: 5px;
    color: $white;
    font-size: 22px;
    line-height: 36px;
    font-weight: 700;
    transition: .3s ease-in-out;

    &:hover {
        background: $secondary;
    }
}

.message {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: $gray-3;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
}