footer {
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 0 140px;
    font-size: 12px;
    font-weight: 300;
    left: 0;
    color: $gray-4;

}

.footer {
    &-top {
        padding: 110px 0;
        text-align: left;

        .text-16 {
            margin: 35px 0;
            width: 78%;
        }
    }

    &-bottom {
        border-top: 1px solid $gray-4;
        padding: 30px 0;
    }

    &-title {
        font-size: 22px;
        line-height: 38px;
        color: $secondary;
    }

    &-menu {
        li {
            font-size: 18px;
            line-height: 38px;
            color: $white;
            font-weight: 300;

            a {
                font-size: 18px;
                line-height: 38px;
                color: $white;
                font-weight: 300;
                transition: .3s ease;

                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: $primary;
    border-radius: 50%;
    margin-right: 15px;
}