// =============================== base css ==============================
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: $dark;
    font-weight: 400;
    color: $white;
    font-family: Outfit;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

li,
ol,
ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: $white;
    transition: .5s ease;

    &:hover {
        color: $secondary;
    }
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.section-padding {
    padding-left: 140px;
    padding-right: 140px;
}

// =============================== base css ==============================

// =============================== banner section ==============================
.banner-section {
    display: flex;
    width: 100%;
    align-items: center;
}

.text-area {
    width: 48%;
}

.headline {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 130px;
    height: 260px;
}

.sub-title {
    font-size: 30px;
    font-weight: 300;
    color: $gray-4;
    line-height: 40px;
    margin: 30px 0;
    width: 75%;
}

.video-area {
    width: 40%;
    height: 100%;

    video {
        height: 750px;
    }
}

// =============================== banner section ==============================

// =============================== scroll down ==============================
.scroll {
    &-downs {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
    }

    &-text {
        font-size: 18px;
        line-height: 23px;
        white-space: nowrap;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: $gray-4;
        margin-top: 15px;
    }
}

.mousey {
    width: 3px;
    padding: 10px 10px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

// =============================== scroll down ==============================

// =============================== company logo ==============================

.companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 110px;
    padding-bottom: 110px;

    .logo {
        img {
            width: 100%;
        }
    }
}

.company {
    &-number {
        font-size: 42px;
        font-weight: 700;
        color: $gray-4;
    }

    &-text {
        white-space: nowrap;
        font-size: 24px;
        font-weight: 300;
        color: $gray-4;
    }

    &-count {
        position: relative;
        padding-left: 30px;
        &::before {
            content: '';
            width: 2px;
            height: 100%;
            background: $gray-4;
            position: absolute;
            left: 0;
        }
    }
}

// =============================== company logo ==============================

// =============================== services ==============================

.services {
    padding-bottom: 110px;
}

.service {
    &-box {
        padding: 50px 74px 50px 50px;
        border-radius: 20px;
        transition: all .5s ease;

        &:hover {
            box-shadow: -20px 5px 55px -30px $primary, 20px 5px 55px -30px $secondary;
        }
    }
}

.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: rgba($color: $secondary, $alpha: 0.1);
    margin-bottom: 25px;
}

.text-32 {
    font-size: 32px;
    line-height: 50px;
    font-weight: 500;
}

.text-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: $gray-3;
}

.text-36 {
    font-size: 36px;
    line-height: 52px;
    font-weight: 700;
}

// =============================== services ==============================

// =============================== all link ==============================

.all-wrapp {
    margin-top: 80px;
}

.all-link {
    position: relative;
    text-align: center;
    font-weight: 400;
    color: $secondary;
    transition: .3s ease;

    &:hover {
        letter-spacing: 1.5px;

        &::before, &::after {
            width: 80px;
            height: 5px;
            top: 47%;
        }

        &::after {
            right: -110px;
        }

        &::before {
            left: -110px;
        }
    }

    &::before, &::after {
        width: 7px;
        height: 7px;
        content: '';
        position: absolute;
        background: $secondary;
        border-radius: 8px;
        top: 45%;
        transition: .5s ease;
    }

    &::before {
        left: -25px;
    }

    &::after {
        right: -25px;
    }
}

// =============================== all link ==============================

// =============================== counter ==============================
.counter {
    &-section {
        padding: 80px;
        background: $primary;
        border-radius: 20px;
    }

    &-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $white;
    }

    &-number {
        font-size: 62px;
        color: $white;
        font-weight: 700;
        line-height: 37px;
    }

    &-text {
        font-size: 24px;
        line-height: 37px;
        color: $white;
        font-weight: 300;
    }
}

.postfix {
    font-size: 62px;
    color: $white;
    font-weight: 700;
}
// =============================== counter ==============================

// =============================== project ==============================
.project {
    &-showcase {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    &-wrapp {
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: $primary;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
        }
    }

    &-wrapper {
        margin-bottom: 150px;
    }

    &-detail {
        padding: 80px 0 80px 150px;

        .explore {
            margin-top: 30px;
            &:hover {
                width: 34%;
            }
        }
    }
}

.category {
    padding: 20px 48px;
    background: rgba($color: $secondary, $alpha: 0.1);
    color: $secondary;
    font-size: 24px;
    font-weight: 300;
    width: fit-content;
    margin-bottom: 30px;
}

.text-62 {
    font-size: 62px;
    line-height: 75px;
    font-weight: 600;
}

.text-26 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 300;
    color: $gray-3;
}

.text-40 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
}

.text-22 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
}

.text-18 {
    font-size: 18px;
    line-height: 22px;
}
// =============================== project ==============================

// =============================== testimonial ==============================
.testimonial {
    &-wrapp {
        padding: 42px 32px 42px 45px;
        background: $white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 465px;
    }

    &-area {
        margin-top: 110px;
    }
}

.quote-icon {
    width: 30px;
}

.text-24 {
    font-size: 24px;
    line-height: 38px;
    color: $dark;
    font-weight: 300;
}

.client {
    display: flex;
    align-items: center;

    &-img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-right: 15px;
        border-radius: 50%;
    }

    &-info {
        .name {
            font-size: 22px;
            line-height: 32px;
            color: $primary;
            font-weight: 700;
        }
    }
}

.company-name {
    color: $gray-3;
}
// =============================== testimonial ==============================

// =============================== blog ==============================
.blog {
    padding-top: 110px;
    padding-bottom: 110px;
}
// =============================== blog ==============================

// =============================== quote ==============================
.quote {
    &-banner {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &-area {
        padding: 92px 100px;
        text-align: center;
        background-color: rgba($color: $gray-4, $alpha: 0.1);
        border-radius: 125px;
    }

    font-size: 52px;
    line-height: 72px;
    font-weight: 700;
}

.slick {
    &-arrow, &-arrow:focus {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba($color: $primary, $alpha: 0.1);
        transition: .3s ease;

        &:hover {
            background: rgba($color: $secondary, $alpha: 0.1);

            svg {
                path {
                    fill: $secondary;
                }
            }
        }

        svg {
            width: 25px;
            path {
                fill: $primary;
                transition: .3s ease;
            }
        }

        &::before {
            content: none;
        }
    }
}
// =============================== quote ==============================

// =============================== video banner ==============================
.video-banner {
    background-image: url(../images/bottom-img.png);
    height: 750px;
    border-radius: 20px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.big-text {
    font-size: 100px;
    font-weight: 700;
    margin: 20px 0 100px;
    text-align: center;
}
// =============================== video banner ==============================

@keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
