.nav-links {
    ul {
        display: flex;
        li {
            margin: 0 35px;
            font-size: 20px;
            line-height: 25px;
        }
    }
}

nav {
    padding: 31px 0 0;
    display: flex;
    align-items: center;
}

.hamburger_menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav {
    &-btn {
        border-top: 1px solid $gray-4;
        border-bottom: 1px solid $gray-4;
        padding: 11px 15px;
        display: flex;
        align-items: center;
        font-size: 22px;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;

        .text-loop {
            display: flex;
            align-items: center;
            animation: textLoop 3s linear infinite;
            span {
                content: '';
                width: 6px;
                height: 6px;
                margin: 0 12px;
                background: $secondary;
                border-radius: 5px;
            }
        }
        

        &:hover {
            border-top: 1px solid $secondary;
            border-bottom: 1px solid $secondary;
        }
    }
}

@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.logo {
    margin-right: 150px;
}

.button_container {
    display: none;
}