// ========================= 1880px =========================
@media (max-width: 1880px) {
    body {
        height: auto;
    }

    .text-area {
        width: 50%;
    }

    .headline {
        width: 80%;
        font-size: 80px;
        line-height: 100px;
        height: 230px;
    }

    .sub-title {
        font-size: 25px;
        line-height: 30px;
        width: 75%;
    }

    .contact-btn {
        padding: 18px 80px;
        font-size: 25px;
    }

    .video-area {
        width: 50%;

        video {
            height: 680px;
        }
    }

    footer {
        position: relative;
        left: 0;
    }

    .form-area {
        margin-bottom: 40px;
    }
}

// ========================= 1680px =========================
@media (max-width: 1680px) {
    .nav-btn {
        font-size: 20px;
        width: 150px;
    }

    .text-area {
        width: 50%;
    }

    .headline {
        width: 83%;
        font-size: 73px;
        line-height: 80px;
        height: 200px;
    }

    .sub-title {
        font-size: 20px;
        line-height: 25px;
        width: 55%;
        margin: 10px 0 30px;
    }

    .contact-btn {
        padding: 15px 75px;
        font-size: 25px;
        margin-top: 30px;
    }

    .video-area {
        width: 50%;

        video {
            height: 650px;
        }
    }

    .contact {
        font-size: 30px;
        line-height: 43px;

        &-info {
            width: 65%;
        }

        &-detail {
            font-size: 55px;
            line-height: 70px;

            .sub-title {
                width: 75%;
            }
        }
    }

    .radio-image {
        padding: 0 12px 0px 24px;
        font-size: 14px;
        line-height: 20px;
    }

    .logo {
        margin-right: 65px;
    }

    .text-24 {
        font-size: 22px;
        line-height: 35px;
    }

    .text-36 {
        font-size: 30px;
        line-height: 45px;
    }

    .text-62 {
        font-size: 60px;
        line-height: 73px;
    }

    .quote {
        font-size: 45px;
        line-height: 65px;
    }

    .big-text {
        font-size: 95px;
    }
}

// ========================= 1600px =========================
@media (max-width: 1600px) {
    .text-area {
        width: 55%;
    }

    .headline {
        width: 83%;
        font-size: 70px;
        line-height: 80px;
        height: 180px;
    }

    .sub-title {
        font-size: 18px;
        line-height: 23px;
        width: 53%;
        margin: 10px 0 30px;
    }

    .contact-btn {
        padding: 12px 60px;
        font-size: 20px;
        margin-top: 20px;
    }

    .video-area {
        width: 50%;

        video {
            height: 550px;
        }
    }

    .contact {
        font-size: 26px;
        line-height: 36px;

        &-detail {
            width: 45%;

            .sub-title {
                width: 75%;
            }

            .title {
                padding: 0 0 40px;
            }

            h3 {
                font-size: 55px;
                line-height: 70px;

                span {
                    margin-left: 20px;

                    svg {
                        width: 35px;
                    }
                }
            }
        }

        &-info {
            width: 70%;
            padding: 25px 0;
        }
    }

    .empty-space {
        display: none;
    }

    .form-area {
        width: 55%;
        margin-bottom: 40px;
    }

    .input {
        &-area {
            margin-bottom: 22px;
        }
    }

    .radio {
        &-image {
            padding: 0 16px 0px 27px;
            font-size: 17px;
            line-height: 24px;
        }

        &-input {
            padding: 20px 0;
        }
    }

    .submit-btn {
        padding: 12px 60px;
        font-size: 20px;
    }

    .message {
        font-size: 16px;
    }

    .logo {
        margin-right: 50px;
    }

    .nav-links {
        ul {
            li {
                font-size: 18px;
            }
        }
    }

    .companies {
        .logo {
            img {
                width: 80%;
            }
        }
    }

    .text-62 {
        font-size: 58px;
        line-height: 69px;
    }

    .text-26 {
        font-size: 24px;
        line-height: 33px;
    }

    .project {
        &-wrapp {
            img {
                height: 95%;
            }
        }

        &-detail {
            padding-left: 90px;
        }
    }

    .tabs {
        padding-right: 40px;

        &-content {
            padding: 50px;

            .content {
                padding: 0;
            }
        }
    }

    .text-40 {
        font-size: 38px;
        line-height: 50px;
    }

    .tab-title {
        margin-bottom: 60px;
    }

    .text-22 {
        font-size: 20px;
        line-height: 30px;
    }

    .lang-box {
        width: 85px;
        height: 85px;
    }

    .text-18 {
        font-size: 14px;
        line-height: 14px;
    }

    .lang-wrapp {
        p {
            margin-top: 7px !important;
        }
    }

    .testimonial-text {
        font-size: 18px;
        line-height: 30px;
    }

    .text-32 {
        font-size: 28px;
        line-height: 36px;
    }
}

// ========================= 1440px =========================
@media (max-width: 1440px) {
    .section-padding {
        padding-left: 100px;
        padding-right: 100px;
    }

    .nav-btn {
        font-size: 15px;
        width: 130px;
    }

    .nav-links {
        ul {
            li {
                margin: 0 30px;
            }
        }
    }

    .text-area {
        width: 55%;
    }

    .headline {
        width: 80%;
        font-size: 60px;
        line-height: 75px;
        height: 160px;
    }

    .sub-title {
        font-size: 15px;
        line-height: 20px;
        width: 50%;
        margin: 20px 0 30px;
    }

    .contact-btn {
        padding: 10px 50px;
        font-size: 18px;
        margin-top: 20px;
    }

    .video-area {
        width: 50%;

        video {
            height: 530px;
        }
    }

    footer {
        position: relative;
        left: 0;
    }

    .contact {
        font-size: 22px;
        line-height: 32px;

        &-detail {
            width: 45%;

            .sub-title {
                width: 75%;
            }

            .title {
                padding: 0 0 40px;
            }

            h3 {
                font-size: 50px;
                line-height: 65px;

                span {
                    margin-left: 20px;

                    svg {
                        width: 35px;
                    }
                }
            }
        }

        &-info {
            width: 70%;
            padding: 20px 0;
        }
    }

    .empty-space {
        display: none;
    }

    .form-area {
        width: 55%;
        margin-bottom: 40px;
    }

    .input {
        &-area {
            margin-bottom: 22px;
        }
    }

    .radio {
        &-image {
            padding: 0 16px 0px 27px;
            font-size: 15px;
            line-height: 22px;
        }

        &-input {
            padding: 18px 0;
        }
    }

    .submit-btn {
        padding: 12px 60px;
        font-size: 20px;
    }

    .message {
        font-size: 16px;
    }

    .category {
        padding: 15px 40px;
        font-size: 22px;
    }

    .text-62 {
        font-size: 55px;
        line-height: 65px;
    }

    .text-26 {
        font-size: 22px;
        line-height: 31px;
    }

    .project {
        &-detail {
            .explore {
                &:hover {
                    width: 42%;
                }
            }
        }
    }

    .text-36 {
        font-size: 25px;
        line-height: 42px;
    }

    .text-32 {
        font-size: 26px;
        line-height: 34px;
    }

    .read {
        font-size: 20px;
    }

    .quote {
        font-size: 40px;
        line-height: 60px;
    }

    .big-text {
        font-size: 90px;
        margin: 15px 0 95px;
    }
}

// ========================= 1366px =========================
@media (max-width: 1366px) {

    body {
        height: auto;
    }

    .nav-btn {
        font-size: 15px;
        width: 130px;
    }

    .text-area {
        width: 45%;
    }

    .headline {
        width: 80%;
        font-size: 50px;
        line-height: 65px;
        height: 130px;
    }

    .sub-title {
        font-size: 15px;
        line-height: 20px;
        width: 60%;
        margin: 20px 0 30px;
    }

    .contact-btn {
        padding: 10px 50px;
        font-size: 18px;
        margin-top: 20px;
    }

    .video-area {
        width: 50%;

        video {
            height: 530px;
        }
    }


    .radio-image {
        padding: 0 16px 0px 27px;
        font-size: 14px;
        line-height: 18px;
    }

    .logo {
        margin-right: 40px;
    }

    .nav-links ul li {
        margin: 0 25px;
    }

    .explore:hover {
        width: 40%;
    }

    .project-wrapp {
        width: 500px;
        height: 500px;
    }

    .project-detail {
        padding-left: 60px;
    }

    .text-26 {
        font-size: 18px;
        line-height: 28px;
    }

    .text-40 {
        font-size: 35px;
        line-height: 47px;
    }

    .text-22 {
        font-size: 18px;
        line-height: 27px;
    }

    .tab-title {
        margin-bottom: 25px;
    }

    .lang-box {
        width: 75px;
        height: 75px;
    }

    .testimonial-text {
        font-size: 16px;
        line-height: 26px;
    }

    .text-18 {
        font-size: 12px;
        line-height: 12px;
    }

    .client-info .name {
        font-size: 20px;
        line-height: 30px;
    }

    .client-img {
        width: 40px;
        height: 40px;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    .text-62 {
        font-size: 52px;
        line-height: 63px;
    }

    .quote {
        font-size: 35px;
        line-height: 55px;
    }

    .big-text {
        font-size: 85px;
        margin-bottom: 85px;
    }

    .footer-menu li {
        font-size: 15px;
        line-height: 35px;

        a {
            font-size: 15px;
            line-height: 35px;
        }
    }
}

// ========================= 1280px =========================
@media (max-width: 1280px) {

    .nav-btn {
        font-size: 13px;
        width: 130px;
    }

    .text-area {
        width: 40%;
    }

    .headline {
        width: 80%;
        font-size: 40px;
        line-height: 55px;
        height: 120px;
    }

    .sub-title {
        font-size: 15px;
        line-height: 20px;
        width: 70%;
        margin: 10px 0 30px;
    }

    .contact-btn {
        padding: 10px 35px;
        font-size: 15px;
        margin-top: 20px;
    }

    .video-area {
        width: 50%;

        video {
            height: 500px;
        }
    }

    .contact {
        font-size: 22px;
        line-height: 32px;

        &-detail {
            width: 45%;

            .sub-title {
                width: 75%;
            }

            .title {
                padding: 0 0 40px;
            }

            h3 {
                font-size: 50px;
                line-height: 65px;

                span {
                    margin-left: 20px;

                    svg {
                        width: 35px;
                    }
                }
            }
        }

        &-info {
            width: 75%;
            padding: 20px 0;
        }
    }

    .empty-space {
        display: none;
    }

    .form-area {
        width: 55%;
        margin-bottom: 40px;
    }

    .input {
        &-area {
            padding: 18px 20px;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 20px;
        }
    }

    .radio {
        &-image {
            padding: 0 12px 0px 24px;
            font-size: 13px;
            line-height: 17px;
        }

        &-input {
            padding: 18px 0;
        }
    }

    .submit-btn {
        padding: 12px 60px;
        font-size: 20px;
    }

    .message {
        font-size: 16px;
    }

    .nav-links ul li {
        font-size: 14px;
    }

    .explore:hover {
        width: 50%;
    }

    .service-box {
        padding: 45px 65px 45px 45px;
    }

    .text-16 {
        font-size: 13px;
        line-height: 19px;
    }

    .text-32 {
        font-size: 18px;
        line-height: 30px;
    }

    .text-62 {
        font-size: 46px;
        line-height: 63px;
    }

    .text-26 {
        font-size: 15px;
        line-height: 25px;
    }

    .explore {
        width: 40px;
        height: 40px;
        overflow: visible;
        padding: 3px 18px;
        font-size: 18px;
    }

    .text-40 {
        font-size: 30px;
        line-height: 44px;
    }

    .text-22 {
        font-size: 15px;
        line-height: 24px;
    }

    .text-24 {
        font-size: 18px;
        line-height: 30px;
    }

    .read {
        font-size: 18px;
    }

    .text-36 {
        font-size: 22px;
        line-height: 40px;
    }

    .quote {
        font-size: 32px;
    }
}

// ========================= 1240px =========================
@media (max-width: 1240px) {

    .section-padding {
        padding-left: 80px;
        padding-right: 80px;
    }

    .headline {
        width: 90%;
        font-size: 40px;
        line-height: 55px;
        height: 110px;
    }

    .sub-title {
        font-size: 15px;
        line-height: 20px;
        width: 85%;
        margin: 10px 0 20px;
    }

    .contact-btn {
        padding: 8px 25px;
        font-size: 15px;
        margin-top: 20px;
    }

    .video-area {
        width: 50%;

        video {
            height: 450px;
        }
    }

    footer {
        position: relative;
        left: 0;
    }


}

// ========================= 1024px =========================
@media (max-width: 1024px) {
    body {
        height: auto;
    }

    .logo {
        width: 80%;
        margin-right: 0;
    }

    .nav-links {
        ul {
            li {
                font-size: 12px;
                margin: 0 17px;
            }
        }
    }

    .headline {
        width: 95%;
        font-size: 40px;
        line-height: 55px;
        height: 110px;
    }

    .sub-title {
        font-size: 15px;
        line-height: 20px;
        width: 90%;
        margin: 10px 0 20px;
    }

    .video-area {
        width: 60%;

        video {
            height: 400px;
        }
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
    }

    .contact {
        font-size: 26px;
        line-height: 40px;

        &-page {
            flex-direction: column;
        }

        &-detail {
            width: 100%;

            h3 {
                font-size: 50px;
                line-height: 70px;

                span {
                    margin-left: 10px;

                    svg {
                        width: 30px;
                    }
                }
            }

            .sub-title {
                width: 50%;
            }
        }

        &-info {
            width: 65%;
        }
    }

    .form-area {
        width: 100%;
    }

    .radio-image {
        padding: 0px 23px 0px 36px;
        font-size: 18px;
        line-height: 22px;
    }

    .company {
        &-number {
            font-size: 36px;
        }

        &-text {
            font-size: 18px;
        }
    }

    .companies .logo img {
        width: 65%;
    }

    .service-box {
        padding: 35px 25px;
    }

    .project-wrapp {
        width: 400px;
        height: 400px;

        img {
            height: 90%;
        }
    }

    .category {
        padding: 10px 35px;
        font-size: 20px;
    }

    .text-62 {
        font-size: 40px;
        line-height: 58px;
    }

    .project-detail .explore:hover {
        width: 47%;
    }

    .tabs {
        padding-right: 28px;
    }

    .lang-box {
        width: 55px;
        height: 55px;
    }

    .text-18 {
        font-size: 10px;
        line-height: 12px;
    }

    .lang-wrapp p {
        margin-top: 5px !important;
    }

    .tab-title {
        padding: 30px;
    }

    .text-40 {
        font-size: 25px;
        line-height: 40px;
    }

    .text-22 {
        font-size: 12px;
        line-height: 18px;
    }

    .quote-icon {
        width: 25px;
    }

    .text-24 {
        font-size: 12px;
        line-height: 20px;
    }

    .testimonial-wrapp {
        padding: 40px 27px 40px 40px;
        min-height: 375px;
    }

    .blog {
        &-heading {
            padding: 32px;
        }

        &-detail p {
            font-size: 16px;
            line-height: 28px;
        }

        &-wrapp {
            .blog-img {
                height: 265px;
            }
        }
    }

    .text-36 {
        font-size: 18px;
        line-height: 37px;
    }

    .quote-area {
        padding: 65px 70px;
    }

    .quote {
        font-size: 25px;
    }

    .big-text {
        font-size: 55px;
        margin-bottom: 45px;
    }

    .footer-title {
        font-size: 18px;
        line-height: 35px;
    }

    .footer-menu li {
        font-size: 12px;
        line-height: 26px;

        a {
            font-size: 12px;
            line-height: 26px;
        }
    }

    .social-icon {
        width: 25px;
        height: 25px;
        margin-right: 9px;
    }

}

// ========================= 992px =========================
@media (max-width: 992px) {
    body {
        height: auto;
    }

    .headline {
        width: 100%;
        font-size: 40px;
        line-height: 55px;
        height: 110px;
    }

    .sub-title {
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        margin: 10px 0 20px;
    }

    .video-area {
        width: 60%;

        video {
            height: 380px;
        }
    }



    .submit-btn {
        padding: 12px 55px;
    }
}

// ========================= 768px =========================
@media (max-width: 768px) {
    .section-padding {
        padding-left: 75px;
        padding-right: 75px;
    }

    .logo {
        width: 150px;
    }

    .nav-btn {
        width: 100px;
        font-size: 15px;
        line-height: 20px;
    }

    .banner-section {
        flex-direction: column;
        padding: 50px 70px;
    }

    .text-area {
        width: 100%;
        margin: 10px 0 30px;
    }

    .sub-title {
        width: 47%;
    }

    .video-area {
        width: 100%;

        video {
            height: 500px;
        }
    }

    .radio-image {
        padding: 0 12px 0px 24px;
        font-size: 14px;
    }

    .button_container {
        position: absolute;
        top: 3%;
        right: 10%;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity 0.25s ease;
        display: block;

        &:hover {
            opacity: 0.9;
        }

        &.active {
            .top {
                transform: translateY(11px) translateX(0) rotate(45deg);
                background: #FFF;
            }

            .middle {
                opacity: 0;
                background: #FFF;
            }

            .bottom {
                transform: translateY(-11px) translateX(0) rotate(-45deg);
                background: #FFF;
            }
        }

        span {
            background: $secondary;
            border: none;
            height: 5px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.35s ease;
            cursor: pointer;
            border-radius: 5px;
            z-index: 9;

            &:nth-of-type(2) {
                top: 11px;
            }

            &:nth-of-type(3) {
                top: 22px;
            }
        }
    }

    .hamburger_menu {
        position: fixed;
        background: $secondary;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0.35s, height 0.35s;
        overflow: hidden;
        flex-direction: column;

        &.open {
            opacity: 1;
            visibility: visible;
            height: 100%;

            li {
                animation: fadeInRight 0.5s ease forwards;
                animation-delay: 0.35s;

                &:nth-of-type(2) {
                    animation-delay: 0.4s;
                }

                &:nth-of-type(3) {
                    animation-delay: 0.45s;
                }

                &:nth-of-type(4) {
                    animation-delay: 0.5s;
                }

                &:nth-of-type(5) {
                    animation-delay: 0.55s;
                }

                &:nth-of-type(6) {
                    animation-delay: 0.6s;
                }
            }
        }

        .nav-links {
            position: relative;
            height: 55%;
            top: 45%;
            transform: translateY(-50%);
            text-align: start;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            height: 100%;

            li {
                display: block;
                height: 25%;
                height: calc(100% / 8);
                min-height: 50px;
                position: relative;
                opacity: 0;
                font-size: 45px;
                line-height: 50px;

                a {
                    display: block;
                    position: relative;
                    color: $primary;
                    text-decoration: none;
                    overflow: hidden;
                }
            }
        }
    }

    .project {
        &-wrapp {
            width: 300px;
            height: 300px;
        }

        &-showcase {
            padding-top: 35px;
            padding-bottom: 80px;
        }

        &-detail {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .text-62 {
        font-size: 32px;
        line-height: 50px;
    }

    .text-26 {
        font-size: 12px;
        line-height: 20px;
    }

    .vertical-tabs {
        padding: 40px;
    }

    .tab-title {
        padding: 25px;
    }

    .text-40 {
        font-size: 18px;
        line-height: 35px;
    }

    .tabs-content {
        padding: 30px;
    }

    .lang-box {
        width: 40px;
        height: 40px;
    }

    .content {
        h5 {
            margin-bottom: 5px !important;
        }
    }

    .tab-title {
        margin-bottom: 10px;
    }

    .testimonial-wrapp {
        padding: 25px 22px 25px 30px;
        min-height: 270px;
    }

    .quote-icon {
        width: 20px;
    }

    .text-24 {
        font-size: 9px;
        line-height: 10px;
    }

    .client-info .name {
        font-size: 14px;
        line-height: 23px;
    }

    .text-18 {
        font-size: 8px;
        line-height: 8px;
    }

    .blog-detail p {
        font-size: 13px;
        line-height: 25px;
    }

    .read {
        font-size: 15px;
    }

    .blog-banner {
        height: 500px;
    }

    .text-36 {
        font-size: 16px;
        line-height: 32px;
    }

    .blog-wrapp .blog-img {
        height: 190px;

        img {
            height: 100%;
        }
    }

    .quote {
        font-size: 18px;
    }

    .quote-area {
        padding: 39px 58px;
    }

    .slick-arrow {
        width: 40px;
        height: 40px;
        svg {
            width: 20px;
        }
    }
    
    .big-text {
        font-size: 45px;
    }

    footer {
        padding: 0 75px;
    }

    .footer-title {
        font-size: 15px;
        line-height: 30px;
    }

    .footer-menu li {
        font-size: 10px;
        line-height: 23px;

        a {
            font-size: 10px;
            line-height: 23px;
        }
    }

    .footer-top {
        padding: 80px 0;
    }

}

// ========================= 600px =========================
@media (max-width: 600px) {
    .section-padding {
        padding-left: 30px;
        padding-right: 30px;
    }

    .logo {
        width: 120px;
    }

    .nav-btn {
        width: 80px;
        font-size: 12px;
        line-height: 18px;
        padding: 6px 8px;
    }

    .banner-section {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .text-area {
        width: 100%;
        margin: 10px 0 0px;
    }

    .headline {
        font-size: 35px;
        line-height: 55px;
        height: 120px;
    }

    .sub-title {
        width: 90%;
    }

    .video-area {
        width: 100%;
        height: 450px;

        video {
            height: 280px;
        }
    }

    .contact-btn {
        font-size: 12px;
        padding: 10px 20px;
        line-height: 15px;
    }

    footer {
        font-size: 10px;
        left: 0%;
        position: relative;
        padding: 20px 0;
    }

    .contact {
        font-size: 18px;
        line-height: 22px;

        &-detail {
            width: 100%;

            .title {
                padding: 40px 0 30px;

                h3 {
                    font-size: 30px;
                    line-height: 40px;
                    display: flex;

                    span {
                        margin-left: 15px;

                        svg {
                            width: 30px;
                        }
                    }
                }
            }
        }

        &-info {
            width: 90%;
            padding: 20px 0;
        }
    }

    .icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;

        img {
            width: 15px;
        }
    }

    .form-area {
        width: 100%;
        padding: 20px;
        border-radius: 10px;
    }

    .input {
        &-label {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 8px;
        }

        &-area {
            padding: 16px;
            font-size: 14px;
            line-height: 18px;
        }
    }

    .radio {
        &-input {
            padding: 13px 0;
        }

        &-image {
            padding: 0 7px;
            font-size: 10px;
            line-height: 15px;
        }

        &-wrapp {
            &::after {
                left: -7px;
            }
        }
    }

    .submit-btn {
        font-size: 18px;
        line-height: 32px;
        font-weight: 600;
        padding: 10px 35px;
    }

    .message {
        font-size: 14px;
        line-height: 18px;
    }

    .company-number {
        font-size: 20px;
    }

    .company-text {
        font-size: 10px;
    }

    .company-count {
        padding-left: 15px;
    }

    .companies {
        padding-top: 55px;
        padding-bottom: 55px;

        .logo img {
            width: 70%;
        }
    }

    .icon-box {
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
    }

    .services {
        padding-bottom: 80px;
    }

    .category {
        padding: 5px 30px;
        font-size: 18px;
        margin-top: 20px;
    }

    .project {

        &-wrapper {
            &:nth-of-type(2), &:nth-of-type(4) {
                flex-direction: column-reverse;
            }
        }
    }

    .technology-wrapp {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .title {
        margin-bottom: 0;
    }

    .about-lines {
        margin-bottom: 30px;
    }

    .tab-title {
        padding: 13px 20px 20px;

        &:last-child {
            margin-bottom: 30px;
        }
    }

    .tabs-content {
        border-radius: 10px;
    }

    .testimonial-wrapp {
        min-height: 200px;
        margin-bottom: 30px;
    }

    .text-62 {
        font-size: 30px;
    }

    .all-wrapp {
        margin-top: 30px;
    }

    .main-blog {
        flex-direction: column;
    }

    .blog {
        padding-top: 80px;
        padding-bottom: 80px;

        &-banner {
            width: 100%;
            height: 225px;
        }

        &-heading {
            top: 40%;
            left: 5%;
            width: 90%;
            padding: 20px;
        }

        &-detail {
            width: 100%;
        }

        &-wrapp {
            .blog-img {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .quote-banner {
        padding-top: 0;
        padding-bottom: 80px;
    }

    .quote-area {
        padding: 40px;
    }

    .quote {
        font-size: 12px;
        line-height: 15px;
    }

    .slick-arrow {
        width: 25px;
        height: 25px;
    }

    .text-36 {
        font-size: 14px;
        line-height: 26px;
    }

    .video-banner {
        height: 500px;

        .explore {
            position: relative;
            left: -40px;

            &:hover {
                left: 0;
            }
        }
    }

    .big-text {
        font-size: 32px;
        line-height: 40px;
        margin: 10px 0 40px;
    }

    footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer-menu {
        margin: 20px 0;
    }

    .hamburger_menu {
        ul {
            li {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    .button_container {
        top: 5%;
        span {
            height: 2px;
            width: 95%;
        }
    }

    .logo {
        width: 150px;
    }
}