.technology {
    &-wrapp {
        padding-top: 110px;
        padding-bottom: 110px;
        background: rgba($color: $primary, $alpha: 0.1);
    }
}

.sub-head {
    color: $secondary;
    margin: 0;
}

.about-lines {
    position: relative;

    &::before {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        background: $secondary;
        left: -30px;
    }
}

.title {
    margin-bottom: 60px;
}

.tab-title {
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 80px;
    transition: .3s ease;
    cursor: pointer;

    &.active,
    &:hover {
        background: $white;

        h4 {
            color: $primary;
        }

        p {
            color: $gray-3;
        }
    }

    a {
        width: 100%;
    }
}

.tabs {
    padding-left: 0;
    padding-right: 60px;
}

.vertical-tabs {
    background: $primary;
    padding: 60px;
    border-radius: 30px;
    position: relative;
}



.vertical-tabs:after {
    content: "";
    display: table;
    clear: both;
}

.tabs-content {
    padding: 60px;
    background: $white;
    border-radius: 20px;

    .content {
        display: none;
        padding: 10px;

        &.active {
            display: block;
        }
    }
}

.lang {
    &-wrapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-box {
        width: 100px;
        height: 100px;
        background: rgba($color: $primary, $alpha: 0.1);
        border-radius: 10px;
    }
}