$primary:           #0062F7;
$secondary:         #00E9E8;
$dark:              #101010;
$gray-1:            #F6F7F7;
$gray-2:            #DCDCDE;
$gray-3:            #A8AAAD;
$gray-4:            #51575D;
$white:             #FFFFFF;          