@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #101010;
  font-weight: 400;
  color: #FFFFFF;
  font-family: Outfit;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li,
ol,
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.5s ease;
}
a:hover {
  color: #00E9E8;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.section-padding {
  padding-left: 140px;
  padding-right: 140px;
}

.banner-section {
  display: flex;
  width: 100%;
  align-items: center;
}

.text-area {
  width: 48%;
}

.headline {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 130px;
  height: 260px;
}

.sub-title {
  font-size: 30px;
  font-weight: 300;
  color: #51575D;
  line-height: 40px;
  margin: 30px 0;
  width: 75%;
}

.video-area {
  width: 40%;
  height: 100%;
}
.video-area video {
  height: 750px;
}

.scroll-downs {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.scroll-text {
  font-size: 18px;
  line-height: 23px;
  white-space: nowrap;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #51575D;
  margin-top: 15px;
}

.mousey {
  width: 3px;
  padding: 10px 10px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 110px;
}
.companies .logo img {
  width: 100%;
}

.company-number {
  font-size: 42px;
  font-weight: 700;
  color: #51575D;
}
.company-text {
  white-space: nowrap;
  font-size: 24px;
  font-weight: 300;
  color: #51575D;
}
.company-count {
  position: relative;
  padding-left: 30px;
}
.company-count::before {
  content: "";
  width: 2px;
  height: 100%;
  background: #51575D;
  position: absolute;
  left: 0;
}

.services {
  padding-bottom: 110px;
}

.service-box {
  padding: 50px 74px 50px 50px;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.service-box:hover {
  box-shadow: -20px 5px 55px -30px #0062F7, 20px 5px 55px -30px #00E9E8;
}

.icon-box {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: rgba(0, 233, 232, 0.1);
  margin-bottom: 25px;
}

.text-32 {
  font-size: 32px;
  line-height: 50px;
  font-weight: 500;
}

.text-16 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #A8AAAD;
}

.text-36 {
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
}

.all-wrapp {
  margin-top: 80px;
}

.all-link {
  position: relative;
  text-align: center;
  font-weight: 400;
  color: #00E9E8;
  transition: 0.3s ease;
}
.all-link:hover {
  letter-spacing: 1.5px;
}
.all-link:hover::before, .all-link:hover::after {
  width: 80px;
  height: 5px;
  top: 47%;
}
.all-link:hover::after {
  right: -110px;
}
.all-link:hover::before {
  left: -110px;
}
.all-link::before, .all-link::after {
  width: 7px;
  height: 7px;
  content: "";
  position: absolute;
  background: #00E9E8;
  border-radius: 8px;
  top: 45%;
  transition: 0.5s ease;
}
.all-link::before {
  left: -25px;
}
.all-link::after {
  right: -25px;
}

.counter-section {
  padding: 80px;
  background: #0062F7;
  border-radius: 20px;
}
.counter-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
}
.counter-number {
  font-size: 62px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 37px;
}
.counter-text {
  font-size: 24px;
  line-height: 37px;
  color: #FFFFFF;
  font-weight: 300;
}

.postfix {
  font-size: 62px;
  color: #FFFFFF;
  font-weight: 700;
}

.project-showcase {
  padding-top: 150px;
  padding-bottom: 150px;
}
.project-wrapp {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: #0062F7;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-wrapp img {
  height: 100%;
}
.project-wrapper {
  margin-bottom: 150px;
}
.project-detail {
  padding: 80px 0 80px 150px;
}
.project-detail .explore {
  margin-top: 30px;
}
.project-detail .explore:hover {
  width: 34%;
}

.category {
  padding: 20px 48px;
  background: rgba(0, 233, 232, 0.1);
  color: #00E9E8;
  font-size: 24px;
  font-weight: 300;
  width: fit-content;
  margin-bottom: 30px;
}

.text-62 {
  font-size: 62px;
  line-height: 75px;
  font-weight: 600;
}

.text-26 {
  font-size: 26px;
  line-height: 35px;
  font-weight: 300;
  color: #A8AAAD;
}

.text-40 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.text-22 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
}

.text-18 {
  font-size: 18px;
  line-height: 22px;
}

.testimonial-wrapp {
  padding: 42px 32px 42px 45px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 465px;
}
.testimonial-area {
  margin-top: 110px;
}

.quote-icon {
  width: 30px;
}

.text-24 {
  font-size: 24px;
  line-height: 38px;
  color: #101010;
  font-weight: 300;
}

.client {
  display: flex;
  align-items: center;
}
.client-img {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 15px;
  border-radius: 50%;
}
.client-info .name {
  font-size: 22px;
  line-height: 32px;
  color: #0062F7;
  font-weight: 700;
}

.company-name {
  color: #A8AAAD;
}

.blog {
  padding-top: 110px;
  padding-bottom: 110px;
}

.quote {
  font-size: 52px;
  line-height: 72px;
  font-weight: 700;
}
.quote-banner {
  padding-top: 110px;
  padding-bottom: 110px;
}
.quote-area {
  padding: 92px 100px;
  text-align: center;
  background-color: rgba(81, 87, 93, 0.1);
  border-radius: 125px;
}

.slick-arrow, .slick-arrow:focus {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 98, 247, 0.1);
  transition: 0.3s ease;
}
.slick-arrow:hover, .slick-arrow:focus:hover {
  background: rgba(0, 233, 232, 0.1);
}
.slick-arrow:hover svg path, .slick-arrow:focus:hover svg path {
  fill: #00E9E8;
}
.slick-arrow svg, .slick-arrow:focus svg {
  width: 25px;
}
.slick-arrow svg path, .slick-arrow:focus svg path {
  fill: #0062F7;
  transition: 0.3s ease;
}
.slick-arrow::before, .slick-arrow:focus::before {
  content: none;
}

.video-banner {
  background-image: url(../images/bottom-img.png);
  height: 750px;
  border-radius: 20px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.big-text {
  font-size: 100px;
  font-weight: 700;
  margin: 20px 0 100px;
  text-align: center;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.nav-links ul {
  display: flex;
}
.nav-links ul li {
  margin: 0 35px;
  font-size: 20px;
  line-height: 25px;
}

nav {
  padding: 31px 0 0;
  display: flex;
  align-items: center;
}

.hamburger_menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-btn {
  border-top: 1px solid #51575D;
  border-bottom: 1px solid #51575D;
  padding: 11px 15px;
  display: flex;
  align-items: center;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}
.nav-btn .text-loop {
  display: flex;
  align-items: center;
  animation: textLoop 3s linear infinite;
}
.nav-btn .text-loop span {
  content: "";
  width: 6px;
  height: 6px;
  margin: 0 12px;
  background: #00E9E8;
  border-radius: 5px;
}
.nav-btn:hover {
  border-top: 1px solid #00E9E8;
  border-bottom: 1px solid #00E9E8;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.logo {
  margin-right: 150px;
}

.button_container {
  display: none;
}

.contact {
  font-size: 32px;
  line-height: 46px;
  font-weight: 300;
}
.contact-detail {
  width: 50%;
}
.contact-detail .title {
  padding: 80px 0 50px;
}
.contact-detail h3 {
  font-size: 62px;
  font-weight: 600;
  line-height: 75px;
}
.contact-detail h3 span {
  margin-left: 40px;
}
.contact-detail .sub-title {
  width: 90%;
}
.contact-info {
  display: flex;
  align-items: flex-start;
  padding: 30px 0;
  width: 60%;
}

.icon {
  width: 40px;
  height: 40px;
  background: rgba(0, 233, 232, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
}

.empty-space {
  width: 5%;
}

.form-area {
  width: 45%;
  background: #FFFFFF;
  padding: 40px;
  border-radius: 20px;
  margin-top: 30px;
}

.input-label {
  font-size: 18px;
  line-height: 22px;
  color: #51575D;
  margin-bottom: 10px;
}
.input-area {
  padding: 22px 20px;
  background: #F6F7F7;
  border-radius: 5px;
  color: #51575D;
  font-size: 16px;
  line-height: 20px;
  border: none;
  margin-bottom: 25px;
  width: 100%;
}
.input-area:focus-visible {
  outline: none;
}
.input-area::placeholder {
  color: #DCDCDE;
}

.radio-input {
  padding: 21px 0;
  background: #F6F7F7;
  border-radius: 5px;
  display: flex;
  margin-bottom: 25px;
}
.radio-wrapp {
  position: relative;
  display: flex;
  align-items: center;
}
.radio-wrapp::after {
  content: "";
  width: 15px;
  height: 1px;
  position: absolute;
  left: 0;
  background: #A8AAAD;
  transform: rotate(90deg);
}
.radio-wrapp:first-child::after {
  display: none;
}
.radio-image {
  padding: 0 16px 0px 28px;
  cursor: pointer;
  color: #A8AAAD;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}
.radio-image:hover {
  color: #101010;
}
.radio-hidden {
  position: absolute;
  visibility: hidden;
}
.radio-hidden:checked ~ .radio-image {
  color: #101010;
}

.submit-btn {
  background: #0062F7;
  padding: 16px 75px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.submit-btn:hover {
  background: #00E9E8;
}

.message {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: #A8AAAD;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}

.contact-btn {
  position: relative;
  appearance: none;
  background: #00E9E8;
  padding: 25px 95px;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  margin-top: 40px;
  overflow: hidden;
  cursor: pointer;
}
.contact-btn span {
  position: relative;
  pointer-events: none;
}
.contact-btn::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}
.contact-btn:hover::before {
  --size: 400px;
}

.explore {
  width: 60px;
  height: 60px;
  overflow: visible;
  padding: 12.5px 30px;
  border-radius: 30px;
  background: #0062F7;
  border: none;
  color: #FFFFFF;
  font-size: 21px;
  line-height: 37px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s ease;
}
.explore:hover {
  width: 28%;
}
.explore.btn-secondary {
  background: #00E9E8;
  text-align: center;
}
.explore.btn-secondary:hover {
  width: 180px;
}

.technology-wrapp {
  padding-top: 110px;
  padding-bottom: 110px;
  background: rgba(0, 98, 247, 0.1);
}

.sub-head {
  color: #00E9E8;
  margin: 0;
}

.about-lines {
  position: relative;
}
.about-lines::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  background: #00E9E8;
  left: -30px;
}

.title {
  margin-bottom: 60px;
}

.tab-title {
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 80px;
  transition: 0.3s ease;
  cursor: pointer;
}
.tab-title.active, .tab-title:hover {
  background: #FFFFFF;
}
.tab-title.active h4, .tab-title:hover h4 {
  color: #0062F7;
}
.tab-title.active p, .tab-title:hover p {
  color: #A8AAAD;
}
.tab-title a {
  width: 100%;
}

.tabs {
  padding-left: 0;
  padding-right: 60px;
}

.vertical-tabs {
  background: #0062F7;
  padding: 60px;
  border-radius: 30px;
  position: relative;
}

.vertical-tabs:after {
  content: "";
  display: table;
  clear: both;
}

.tabs-content {
  padding: 60px;
  background: #FFFFFF;
  border-radius: 20px;
}
.tabs-content .content {
  display: none;
  padding: 10px;
}
.tabs-content .content.active {
  display: block;
}

.lang-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lang-box {
  width: 100px;
  height: 100px;
  background: rgba(0, 98, 247, 0.1);
  border-radius: 10px;
}

.main-blog {
  display: flex;
  position: relative;
  width: 100%;
}

.blog-banner {
  width: 70%;
  height: 600px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.blog-banner img {
  height: 100%;
}
.blog-heading {
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 20px;
  position: absolute;
  top: 60%;
  right: 0;
  width: 40%;
}
.blog-detail {
  width: 30%;
  position: relative;
  left: 15px;
  top: 25px;
}
.blog-detail p {
  color: #A8AAAD;
  margin-bottom: 20px;
}
.blog-wrapp .blog-img {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 80px;
}
.blog-wrapp .blog-img img {
  transition: 0.3s ease;
}
.blog-wrapp:hover .blog-img img {
  transform: scale(1.05);
}

.read {
  position: relative;
  top: 0;
  color: #51575D;
  font-size: 22px;
  line-height: 36px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  left: 20px;
}
.read:hover {
  color: #00E9E8;
}
.read:hover::before {
  background: #00E9E8;
}
.read::before {
  width: 8px;
  height: 8px;
  background: #51575D;
  content: "";
  position: absolute;
  left: -20px;
  transition: 0.3s ease;
  border-radius: 50%;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  padding: 0 140px;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  color: #51575D;
}

.footer-top {
  padding: 110px 0;
  text-align: left;
}
.footer-top .text-16 {
  margin: 35px 0;
  width: 78%;
}
.footer-bottom {
  border-top: 1px solid #51575D;
  padding: 30px 0;
}
.footer-title {
  font-size: 22px;
  line-height: 38px;
  color: #00E9E8;
}
.footer-menu li {
  font-size: 18px;
  line-height: 38px;
  color: #FFFFFF;
  font-weight: 300;
}
.footer-menu li a {
  font-size: 18px;
  line-height: 38px;
  color: #FFFFFF;
  font-weight: 300;
  transition: 0.3s ease;
}
.footer-menu li a:hover {
  color: #00E9E8;
}

.social-icon {
  width: 40px;
  height: 40px;
  background-color: #0062F7;
  border-radius: 50%;
  margin-right: 15px;
}

@media (max-width: 1880px) {
  body {
    height: auto;
  }

  .text-area {
    width: 50%;
  }

  .headline {
    width: 80%;
    font-size: 80px;
    line-height: 100px;
    height: 230px;
  }

  .sub-title {
    font-size: 25px;
    line-height: 30px;
    width: 75%;
  }

  .contact-btn {
    padding: 18px 80px;
    font-size: 25px;
  }

  .video-area {
    width: 50%;
  }
  .video-area video {
    height: 680px;
  }

  footer {
    position: relative;
    left: 0;
  }

  .form-area {
    margin-bottom: 40px;
  }
}
@media (max-width: 1680px) {
  .nav-btn {
    font-size: 20px;
    width: 150px;
  }

  .text-area {
    width: 50%;
  }

  .headline {
    width: 83%;
    font-size: 73px;
    line-height: 80px;
    height: 200px;
  }

  .sub-title {
    font-size: 20px;
    line-height: 25px;
    width: 55%;
    margin: 10px 0 30px;
  }

  .contact-btn {
    padding: 15px 75px;
    font-size: 25px;
    margin-top: 30px;
  }

  .video-area {
    width: 50%;
  }
  .video-area video {
    height: 650px;
  }

  .contact {
    font-size: 30px;
    line-height: 43px;
  }
  .contact-info {
    width: 65%;
  }
  .contact-detail {
    font-size: 55px;
    line-height: 70px;
  }
  .contact-detail .sub-title {
    width: 75%;
  }

  .radio-image {
    padding: 0 12px 0px 24px;
    font-size: 14px;
    line-height: 20px;
  }

  .logo {
    margin-right: 65px;
  }

  .text-24 {
    font-size: 22px;
    line-height: 35px;
  }

  .text-36 {
    font-size: 30px;
    line-height: 45px;
  }

  .text-62 {
    font-size: 60px;
    line-height: 73px;
  }

  .quote {
    font-size: 45px;
    line-height: 65px;
  }

  .big-text {
    font-size: 95px;
  }
}
@media (max-width: 1600px) {
  .text-area {
    width: 55%;
  }

  .headline {
    width: 83%;
    font-size: 70px;
    line-height: 80px;
    height: 180px;
  }

  .sub-title {
    font-size: 18px;
    line-height: 23px;
    width: 53%;
    margin: 10px 0 30px;
  }

  .contact-btn {
    padding: 12px 60px;
    font-size: 20px;
    margin-top: 20px;
  }

  .video-area {
    width: 50%;
  }
  .video-area video {
    height: 550px;
  }

  .contact {
    font-size: 26px;
    line-height: 36px;
  }
  .contact-detail {
    width: 45%;
  }
  .contact-detail .sub-title {
    width: 75%;
  }
  .contact-detail .title {
    padding: 0 0 40px;
  }
  .contact-detail h3 {
    font-size: 55px;
    line-height: 70px;
  }
  .contact-detail h3 span {
    margin-left: 20px;
  }
  .contact-detail h3 span svg {
    width: 35px;
  }
  .contact-info {
    width: 70%;
    padding: 25px 0;
  }

  .empty-space {
    display: none;
  }

  .form-area {
    width: 55%;
    margin-bottom: 40px;
  }

  .input-area {
    margin-bottom: 22px;
  }

  .radio-image {
    padding: 0 16px 0px 27px;
    font-size: 17px;
    line-height: 24px;
  }
  .radio-input {
    padding: 20px 0;
  }

  .submit-btn {
    padding: 12px 60px;
    font-size: 20px;
  }

  .message {
    font-size: 16px;
  }

  .logo {
    margin-right: 50px;
  }

  .nav-links ul li {
    font-size: 18px;
  }

  .companies .logo img {
    width: 80%;
  }

  .text-62 {
    font-size: 58px;
    line-height: 69px;
  }

  .text-26 {
    font-size: 24px;
    line-height: 33px;
  }

  .project-wrapp img {
    height: 95%;
  }
  .project-detail {
    padding-left: 90px;
  }

  .tabs {
    padding-right: 40px;
  }
  .tabs-content {
    padding: 50px;
  }
  .tabs-content .content {
    padding: 0;
  }

  .text-40 {
    font-size: 38px;
    line-height: 50px;
  }

  .tab-title {
    margin-bottom: 60px;
  }

  .text-22 {
    font-size: 20px;
    line-height: 30px;
  }

  .lang-box {
    width: 85px;
    height: 85px;
  }

  .text-18 {
    font-size: 14px;
    line-height: 14px;
  }

  .lang-wrapp p {
    margin-top: 7px !important;
  }

  .testimonial-text {
    font-size: 18px;
    line-height: 30px;
  }

  .text-32 {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 1440px) {
  .section-padding {
    padding-left: 100px;
    padding-right: 100px;
  }

  .nav-btn {
    font-size: 15px;
    width: 130px;
  }

  .nav-links ul li {
    margin: 0 30px;
  }

  .text-area {
    width: 55%;
  }

  .headline {
    width: 80%;
    font-size: 60px;
    line-height: 75px;
    height: 160px;
  }

  .sub-title {
    font-size: 15px;
    line-height: 20px;
    width: 50%;
    margin: 20px 0 30px;
  }

  .contact-btn {
    padding: 10px 50px;
    font-size: 18px;
    margin-top: 20px;
  }

  .video-area {
    width: 50%;
  }
  .video-area video {
    height: 530px;
  }

  footer {
    position: relative;
    left: 0;
  }

  .contact {
    font-size: 22px;
    line-height: 32px;
  }
  .contact-detail {
    width: 45%;
  }
  .contact-detail .sub-title {
    width: 75%;
  }
  .contact-detail .title {
    padding: 0 0 40px;
  }
  .contact-detail h3 {
    font-size: 50px;
    line-height: 65px;
  }
  .contact-detail h3 span {
    margin-left: 20px;
  }
  .contact-detail h3 span svg {
    width: 35px;
  }
  .contact-info {
    width: 70%;
    padding: 20px 0;
  }

  .empty-space {
    display: none;
  }

  .form-area {
    width: 55%;
    margin-bottom: 40px;
  }

  .input-area {
    margin-bottom: 22px;
  }

  .radio-image {
    padding: 0 16px 0px 27px;
    font-size: 15px;
    line-height: 22px;
  }
  .radio-input {
    padding: 18px 0;
  }

  .submit-btn {
    padding: 12px 60px;
    font-size: 20px;
  }

  .message {
    font-size: 16px;
  }

  .category {
    padding: 15px 40px;
    font-size: 22px;
  }

  .text-62 {
    font-size: 55px;
    line-height: 65px;
  }

  .text-26 {
    font-size: 22px;
    line-height: 31px;
  }

  .project-detail .explore:hover {
    width: 42%;
  }

  .text-36 {
    font-size: 25px;
    line-height: 42px;
  }

  .text-32 {
    font-size: 26px;
    line-height: 34px;
  }

  .read {
    font-size: 20px;
  }

  .quote {
    font-size: 40px;
    line-height: 60px;
  }

  .big-text {
    font-size: 90px;
    margin: 15px 0 95px;
  }
}
@media (max-width: 1366px) {
  body {
    height: auto;
  }

  .nav-btn {
    font-size: 15px;
    width: 130px;
  }

  .text-area {
    width: 45%;
  }

  .headline {
    width: 80%;
    font-size: 50px;
    line-height: 65px;
    height: 130px;
  }

  .sub-title {
    font-size: 15px;
    line-height: 20px;
    width: 60%;
    margin: 20px 0 30px;
  }

  .contact-btn {
    padding: 10px 50px;
    font-size: 18px;
    margin-top: 20px;
  }

  .video-area {
    width: 50%;
  }
  .video-area video {
    height: 530px;
  }

  .radio-image {
    padding: 0 16px 0px 27px;
    font-size: 14px;
    line-height: 18px;
  }

  .logo {
    margin-right: 40px;
  }

  .nav-links ul li {
    margin: 0 25px;
  }

  .explore:hover {
    width: 40%;
  }

  .project-wrapp {
    width: 500px;
    height: 500px;
  }

  .project-detail {
    padding-left: 60px;
  }

  .text-26 {
    font-size: 18px;
    line-height: 28px;
  }

  .text-40 {
    font-size: 35px;
    line-height: 47px;
  }

  .text-22 {
    font-size: 18px;
    line-height: 27px;
  }

  .tab-title {
    margin-bottom: 25px;
  }

  .lang-box {
    width: 75px;
    height: 75px;
  }

  .testimonial-text {
    font-size: 16px;
    line-height: 26px;
  }

  .text-18 {
    font-size: 12px;
    line-height: 12px;
  }

  .client-info .name {
    font-size: 20px;
    line-height: 30px;
  }

  .client-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .client-img img {
    width: 100%;
  }

  .text-62 {
    font-size: 52px;
    line-height: 63px;
  }

  .quote {
    font-size: 35px;
    line-height: 55px;
  }

  .big-text {
    font-size: 85px;
    margin-bottom: 85px;
  }

  .footer-menu li {
    font-size: 15px;
    line-height: 35px;
  }
  .footer-menu li a {
    font-size: 15px;
    line-height: 35px;
  }
}
@media (max-width: 1280px) {
  .nav-btn {
    font-size: 13px;
    width: 130px;
  }

  .text-area {
    width: 40%;
  }

  .headline {
    width: 80%;
    font-size: 40px;
    line-height: 55px;
    height: 120px;
  }

  .sub-title {
    font-size: 15px;
    line-height: 20px;
    width: 70%;
    margin: 10px 0 30px;
  }

  .contact-btn {
    padding: 10px 35px;
    font-size: 15px;
    margin-top: 20px;
  }

  .video-area {
    width: 50%;
  }
  .video-area video {
    height: 500px;
  }

  .contact {
    font-size: 22px;
    line-height: 32px;
  }
  .contact-detail {
    width: 45%;
  }
  .contact-detail .sub-title {
    width: 75%;
  }
  .contact-detail .title {
    padding: 0 0 40px;
  }
  .contact-detail h3 {
    font-size: 50px;
    line-height: 65px;
  }
  .contact-detail h3 span {
    margin-left: 20px;
  }
  .contact-detail h3 span svg {
    width: 35px;
  }
  .contact-info {
    width: 75%;
    padding: 20px 0;
  }

  .empty-space {
    display: none;
  }

  .form-area {
    width: 55%;
    margin-bottom: 40px;
  }

  .input-area {
    padding: 18px 20px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .radio-image {
    padding: 0 12px 0px 24px;
    font-size: 13px;
    line-height: 17px;
  }
  .radio-input {
    padding: 18px 0;
  }

  .submit-btn {
    padding: 12px 60px;
    font-size: 20px;
  }

  .message {
    font-size: 16px;
  }

  .nav-links ul li {
    font-size: 14px;
  }

  .explore:hover {
    width: 50%;
  }

  .service-box {
    padding: 45px 65px 45px 45px;
  }

  .text-16 {
    font-size: 13px;
    line-height: 19px;
  }

  .text-32 {
    font-size: 18px;
    line-height: 30px;
  }

  .text-62 {
    font-size: 46px;
    line-height: 63px;
  }

  .text-26 {
    font-size: 15px;
    line-height: 25px;
  }

  .explore {
    width: 40px;
    height: 40px;
    overflow: visible;
    padding: 3px 18px;
    font-size: 18px;
  }

  .text-40 {
    font-size: 30px;
    line-height: 44px;
  }

  .text-22 {
    font-size: 15px;
    line-height: 24px;
  }

  .text-24 {
    font-size: 18px;
    line-height: 30px;
  }

  .read {
    font-size: 18px;
  }

  .text-36 {
    font-size: 22px;
    line-height: 40px;
  }

  .quote {
    font-size: 32px;
  }
}
@media (max-width: 1240px) {
  .section-padding {
    padding-left: 80px;
    padding-right: 80px;
  }

  .headline {
    width: 90%;
    font-size: 40px;
    line-height: 55px;
    height: 110px;
  }

  .sub-title {
    font-size: 15px;
    line-height: 20px;
    width: 85%;
    margin: 10px 0 20px;
  }

  .contact-btn {
    padding: 8px 25px;
    font-size: 15px;
    margin-top: 20px;
  }

  .video-area {
    width: 50%;
  }
  .video-area video {
    height: 450px;
  }

  footer {
    position: relative;
    left: 0;
  }
}
@media (max-width: 1024px) {
  body {
    height: auto;
  }

  .logo {
    width: 80%;
    margin-right: 0;
  }

  .nav-links ul li {
    font-size: 12px;
    margin: 0 17px;
  }

  .headline {
    width: 95%;
    font-size: 40px;
    line-height: 55px;
    height: 110px;
  }

  .sub-title {
    font-size: 15px;
    line-height: 20px;
    width: 90%;
    margin: 10px 0 20px;
  }

  .video-area {
    width: 60%;
  }
  .video-area video {
    height: 400px;
  }

  footer {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .contact {
    font-size: 26px;
    line-height: 40px;
  }
  .contact-page {
    flex-direction: column;
  }
  .contact-detail {
    width: 100%;
  }
  .contact-detail h3 {
    font-size: 50px;
    line-height: 70px;
  }
  .contact-detail h3 span {
    margin-left: 10px;
  }
  .contact-detail h3 span svg {
    width: 30px;
  }
  .contact-detail .sub-title {
    width: 50%;
  }
  .contact-info {
    width: 65%;
  }

  .form-area {
    width: 100%;
  }

  .radio-image {
    padding: 0px 23px 0px 36px;
    font-size: 18px;
    line-height: 22px;
  }

  .company-number {
    font-size: 36px;
  }
  .company-text {
    font-size: 18px;
  }

  .companies .logo img {
    width: 65%;
  }

  .service-box {
    padding: 35px 25px;
  }

  .project-wrapp {
    width: 400px;
    height: 400px;
  }
  .project-wrapp img {
    height: 90%;
  }

  .category {
    padding: 10px 35px;
    font-size: 20px;
  }

  .text-62 {
    font-size: 40px;
    line-height: 58px;
  }

  .project-detail .explore:hover {
    width: 47%;
  }

  .tabs {
    padding-right: 28px;
  }

  .lang-box {
    width: 55px;
    height: 55px;
  }

  .text-18 {
    font-size: 10px;
    line-height: 12px;
  }

  .lang-wrapp p {
    margin-top: 5px !important;
  }

  .tab-title {
    padding: 30px;
  }

  .text-40 {
    font-size: 25px;
    line-height: 40px;
  }

  .text-22 {
    font-size: 12px;
    line-height: 18px;
  }

  .quote-icon {
    width: 25px;
  }

  .text-24 {
    font-size: 12px;
    line-height: 20px;
  }

  .testimonial-wrapp {
    padding: 40px 27px 40px 40px;
    min-height: 375px;
  }

  .blog-heading {
    padding: 32px;
  }
  .blog-detail p {
    font-size: 16px;
    line-height: 28px;
  }
  .blog-wrapp .blog-img {
    height: 265px;
  }

  .text-36 {
    font-size: 18px;
    line-height: 37px;
  }

  .quote-area {
    padding: 65px 70px;
  }

  .quote {
    font-size: 25px;
  }

  .big-text {
    font-size: 55px;
    margin-bottom: 45px;
  }

  .footer-title {
    font-size: 18px;
    line-height: 35px;
  }

  .footer-menu li {
    font-size: 12px;
    line-height: 26px;
  }
  .footer-menu li a {
    font-size: 12px;
    line-height: 26px;
  }

  .social-icon {
    width: 25px;
    height: 25px;
    margin-right: 9px;
  }
}
@media (max-width: 992px) {
  body {
    height: auto;
  }

  .headline {
    width: 100%;
    font-size: 40px;
    line-height: 55px;
    height: 110px;
  }

  .sub-title {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    margin: 10px 0 20px;
  }

  .video-area {
    width: 60%;
  }
  .video-area video {
    height: 380px;
  }

  .submit-btn {
    padding: 12px 55px;
  }
}
@media (max-width: 768px) {
  .section-padding {
    padding-left: 75px;
    padding-right: 75px;
  }

  .logo {
    width: 150px;
  }

  .nav-btn {
    width: 100px;
    font-size: 15px;
    line-height: 20px;
  }

  .banner-section {
    flex-direction: column;
    padding: 50px 70px;
  }

  .text-area {
    width: 100%;
    margin: 10px 0 30px;
  }

  .sub-title {
    width: 47%;
  }

  .video-area {
    width: 100%;
  }
  .video-area video {
    height: 500px;
  }

  .radio-image {
    padding: 0 12px 0px 24px;
    font-size: 14px;
  }

  .button_container {
    position: absolute;
    top: 3%;
    right: 10%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
    display: block;
  }
  .button_container:hover {
    opacity: 0.9;
  }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: #00E9E8;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
    border-radius: 5px;
    z-index: 9;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
  }

  .hamburger_menu {
    position: fixed;
    background: #00E9E8;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    flex-direction: column;
  }
  .hamburger_menu.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .hamburger_menu.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
  }
  .hamburger_menu.open li:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  .hamburger_menu.open li:nth-of-type(3) {
    animation-delay: 0.45s;
  }
  .hamburger_menu.open li:nth-of-type(4) {
    animation-delay: 0.5s;
  }
  .hamburger_menu.open li:nth-of-type(5) {
    animation-delay: 0.55s;
  }
  .hamburger_menu.open li:nth-of-type(6) {
    animation-delay: 0.6s;
  }
  .hamburger_menu .nav-links {
    position: relative;
    height: 55%;
    top: 45%;
    transform: translateY(-50%);
    text-align: start;
  }
  .hamburger_menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .hamburger_menu ul li {
    display: block;
    height: 25%;
    height: calc(100% / 8);
    min-height: 50px;
    position: relative;
    opacity: 0;
    font-size: 45px;
    line-height: 50px;
  }
  .hamburger_menu ul li a {
    display: block;
    position: relative;
    color: #0062F7;
    text-decoration: none;
    overflow: hidden;
  }

  .project-wrapp {
    width: 300px;
    height: 300px;
  }
  .project-showcase {
    padding-top: 35px;
    padding-bottom: 80px;
  }
  .project-detail {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-62 {
    font-size: 32px;
    line-height: 50px;
  }

  .text-26 {
    font-size: 12px;
    line-height: 20px;
  }

  .vertical-tabs {
    padding: 40px;
  }

  .tab-title {
    padding: 25px;
  }

  .text-40 {
    font-size: 18px;
    line-height: 35px;
  }

  .tabs-content {
    padding: 30px;
  }

  .lang-box {
    width: 40px;
    height: 40px;
  }

  .content h5 {
    margin-bottom: 5px !important;
  }

  .tab-title {
    margin-bottom: 10px;
  }

  .testimonial-wrapp {
    padding: 25px 22px 25px 30px;
    min-height: 270px;
  }

  .quote-icon {
    width: 20px;
  }

  .text-24 {
    font-size: 9px;
    line-height: 10px;
  }

  .client-info .name {
    font-size: 14px;
    line-height: 23px;
  }

  .text-18 {
    font-size: 8px;
    line-height: 8px;
  }

  .blog-detail p {
    font-size: 13px;
    line-height: 25px;
  }

  .read {
    font-size: 15px;
  }

  .blog-banner {
    height: 500px;
  }

  .text-36 {
    font-size: 16px;
    line-height: 32px;
  }

  .blog-wrapp .blog-img {
    height: 190px;
  }
  .blog-wrapp .blog-img img {
    height: 100%;
  }

  .quote {
    font-size: 18px;
  }

  .quote-area {
    padding: 39px 58px;
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .slick-arrow svg {
    width: 20px;
  }

  .big-text {
    font-size: 45px;
  }

  footer {
    padding: 0 75px;
  }

  .footer-title {
    font-size: 15px;
    line-height: 30px;
  }

  .footer-menu li {
    font-size: 10px;
    line-height: 23px;
  }
  .footer-menu li a {
    font-size: 10px;
    line-height: 23px;
  }

  .footer-top {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .section-padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo {
    width: 120px;
  }

  .nav-btn {
    width: 80px;
    font-size: 12px;
    line-height: 18px;
    padding: 6px 8px;
  }

  .banner-section {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .text-area {
    width: 100%;
    margin: 10px 0 0px;
  }

  .headline {
    font-size: 35px;
    line-height: 55px;
    height: 120px;
  }

  .sub-title {
    width: 90%;
  }

  .video-area {
    width: 100%;
    height: 450px;
  }
  .video-area video {
    height: 280px;
  }

  .contact-btn {
    font-size: 12px;
    padding: 10px 20px;
    line-height: 15px;
  }

  footer {
    font-size: 10px;
    left: 0%;
    position: relative;
    padding: 20px 0;
  }

  .contact {
    font-size: 18px;
    line-height: 22px;
  }
  .contact-detail {
    width: 100%;
  }
  .contact-detail .title {
    padding: 40px 0 30px;
  }
  .contact-detail .title h3 {
    font-size: 30px;
    line-height: 40px;
    display: flex;
  }
  .contact-detail .title h3 span {
    margin-left: 15px;
  }
  .contact-detail .title h3 span svg {
    width: 30px;
  }
  .contact-info {
    width: 90%;
    padding: 20px 0;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .icon img {
    width: 15px;
  }

  .form-area {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }

  .input-label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .input-area {
    padding: 16px;
    font-size: 14px;
    line-height: 18px;
  }

  .radio-input {
    padding: 13px 0;
  }
  .radio-image {
    padding: 0 7px;
    font-size: 10px;
    line-height: 15px;
  }
  .radio-wrapp::after {
    left: -7px;
  }

  .submit-btn {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    padding: 10px 35px;
  }

  .message {
    font-size: 14px;
    line-height: 18px;
  }

  .company-number {
    font-size: 20px;
  }

  .company-text {
    font-size: 10px;
  }

  .company-count {
    padding-left: 15px;
  }

  .companies {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .companies .logo img {
    width: 70%;
  }

  .icon-box {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }

  .services {
    padding-bottom: 80px;
  }

  .category {
    padding: 5px 30px;
    font-size: 18px;
    margin-top: 20px;
  }

  .project-wrapper:nth-of-type(2), .project-wrapper:nth-of-type(4) {
    flex-direction: column-reverse;
  }

  .technology-wrapp {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .title {
    margin-bottom: 0;
  }

  .about-lines {
    margin-bottom: 30px;
  }

  .tab-title {
    padding: 13px 20px 20px;
  }
  .tab-title:last-child {
    margin-bottom: 30px;
  }

  .tabs-content {
    border-radius: 10px;
  }

  .testimonial-wrapp {
    min-height: 200px;
    margin-bottom: 30px;
  }

  .text-62 {
    font-size: 30px;
  }

  .all-wrapp {
    margin-top: 30px;
  }

  .main-blog {
    flex-direction: column;
  }

  .blog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .blog-banner {
    width: 100%;
    height: 225px;
  }
  .blog-heading {
    top: 40%;
    left: 5%;
    width: 90%;
    padding: 20px;
  }
  .blog-detail {
    width: 100%;
  }
  .blog-wrapp .blog-img img {
    width: 100%;
    height: auto;
  }

  .quote-banner {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .quote-area {
    padding: 40px;
  }

  .quote {
    font-size: 12px;
    line-height: 15px;
  }

  .slick-arrow {
    width: 25px;
    height: 25px;
  }

  .text-36 {
    font-size: 14px;
    line-height: 26px;
  }

  .video-banner {
    height: 500px;
  }
  .video-banner .explore {
    position: relative;
    left: -40px;
  }
  .video-banner .explore:hover {
    left: 0;
  }

  .big-text {
    font-size: 32px;
    line-height: 40px;
    margin: 10px 0 40px;
  }

  footer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-menu {
    margin: 20px 0;
  }

  .hamburger_menu ul li {
    font-size: 30px;
    line-height: 40px;
  }

  .button_container {
    top: 5%;
  }
  .button_container span {
    height: 2px;
    width: 95%;
  }

  .logo {
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
